.intro-container{
    /* border: 1px solid red; */
    font-family: monospace;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-start;
    padding-top: 4rem;
}

.intro-container img {
    /* width: 40%; */
    border-radius: 50%;
    width: 250px;
    /* border: 5px solid red; */
}

.intro-container .name {
    /* margin-top: 5px; */
    font-size: 20px;
}

.name .typing {
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid var(--colorTyping);
    white-space: nowrap;
    display: inline-block;
    width: 0;
    animation: 
      typewriter-once 4s steps(17, end) forwards,
      cursor-disappear 0.5s 4s forwards;
}

@keyframes typewriter-once {
    0% { width: 0 }
    100% { width: 17ch }
}

@keyframes cursor-disappear {
    0% { border-right-color: var(--colorTyping) }
    100% { border-right-color: transparent }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--colorTyping) }
}

.intro-container .description {
    font-family: monospace;
    font-size: 20px;
    text-align: justify;
}

.data{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

.data a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid green; */
    gap: 20px;
    font-family: monospace;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.data a:hover{
    color: var(--colorover);
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
}

.intro-container img{
    animation: 1.5s fadeInUp;
}



@media (max-width: 1222px) {
    .intro-container{
        /* border: 1px solid red; */
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .intro-container img {
        /* width: 40%; */
        border-radius: 50%;
        width: 150px;
        /* border: 5px solid red; */
    }

    .intro-container .name {
        font-size: 15px;
        /* border: 3px solid red; */
        max-width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /* padding: 5px; */
        text-align: center;
        margin-top: 6px;
    }

    .intro-container .description {
        padding: 15px;
        width: 90%;
    }

    .intro-container .line{
        /* border: 1px solid red; */
        width: 90%;
    }

    .intro-container .name .typing{
        max-width: 100%;
        line-height: 1.2;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        animation: 
          typewriter-once-mobile 4s steps(17, end) forwards,
          cursor-disappear-mobile 0.5s 4s forwards;
    }

    @keyframes typewriter-once-mobile {
        0% { width: 0 }
        100% { width: 17ch }
    }

    @keyframes cursor-disappear-mobile {
        0% { border-right-color: var(--colorTyping) }
        100% { border-right-color: transparent }
    }
}