.education-wrap {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 100%;
    gap: 5px;
}

.title-education {
    font-size: 2.8rem;
    /* border: 1px solid yellow; */
}

.content-education {
    font-size: 1rem;
    padding-left: 25px;
    /* border: 1px solid red; */
    
}

.profession {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 1.11rem;
}

.time{
    font-size: 1.1rem;
}

@media (max-width: 1222px) {
    .education-wrap{
        /* border: 1px solid red; */
        padding: 20px;
    }


    .title-education {
        font-size: 2rem;
        /* border: 3px solid red; */
    }
}