*{
    margin: 0;
    padding: 0;
}

.wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
}


@media (max-width: 1222px) {
    .wrapper{
        max-width: 100%;
        /* border: 3px solid green; */
    }
}